.main {
  display: grid;
  grid-template-columns: 1fr 350px;
  grid-template-rows: 1fr 176px calc(128px + 48px);

  row-gap: 39px;

  margin-top: 4vh;
  margin-bottom: 56px;
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.image {
  justify-self: center;
  align-self: center;
  grid-row: 1 / 3;
}

.stats {
  grid-column: 1 / -1;
}

.title {
  margin-bottom: 23px;

  font-family: "Antonio";
  font-style: normal;
  font-weight: 400;
  font-size: 80px;
  line-height: 104px;

  text-transform: uppercase;

  color: var(--clr-white);
}

.content {
  margin-bottom: 23px;

  font-family: "Spartan";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 25px;

  color: var(--clr-white);
}
