.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-block: 24px;
  padding-inline: 35px;

  border-bottom: 1px solid hsla(0, 0%, 100%, 0.2);
}

.navigation {
  ul {
    display: flex;
    gap: 33px;

    li a {
      font-family: "Spartan";
      font-style: normal;
      font-weight: 700;
      font-size: 11px;
      line-height: 25px;

      letter-spacing: 1px;
      text-transform: uppercase;

      color: var(--clr-white);

      opacity: 0.7;
    }
  }
}

.logo {
  font-family: "Antonio", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 36px;
  letter-spacing: -1.05px;
  text-transform: uppercase;

  color: var(--clr-white);
}
