:root {
  --clr-white: #ffffff;
  --clr-dark-blue: #070722;
  --clr-space-gray: #37374e;
  --clr-gray: #838391;

  --clr-mercury: #419db9;
  --clr-venus: #eda44a;
  --clr-earth: #6f2ed6;
  --clr-mars: #d14e33;
  --clr-jupiter: #d93b36;
  --clr-saturn: #cb5020;
  --clr-uranus: #1ec2a4;
  --clr-neptune: #2d68f0;
}
