:root {
  --clr-white: hsl(0, 0%, 100%);
  --clr-purple: hsl(263, 67%, 51%);
  --clr-blue: hsl(222, 87%, 56%);
  --clr-sky-blue: #419db9;
  --clr-dark-blue: hsl(240, 67%, 8%);
  --clr-gray: hsl(240, 6%, 54%);
  --clr-space-gray: hsl(240, 17%, 26%);
  --clr-orange: hsl(33, 82%, 61%);
  --clr-brick: hsl(10, 63%, 51%);
  --clr-red: hsl(2, 68%, 53%);
  --clr-carrot: hsl(17, 73%, 46%);
  --clr-turquoise: hsl(169, 73%, 44%);
}
