@use "./abstracts/colors" as *;
@use "./base/reset" as *;
@use "./utilities/container" as *;

body {
  background-image: url(../../../assets/background-stars.svg);
  background-color: var(--clr-dark-blue);
  background-position: center;
  background-position-y: -134px;
}
