.stats {
  grid-column: 1 / -1;
  align-self: flex-end;

  display: flex;
  justify-content: space-between;

  @media screen and (max-width: 1280px) {
    grid-column: 1 / -1;
  }

  @media screen and (max-width: 740px) {
    flex-direction: column;

    grid-column: unset;
    grid-row: 4 / -1;

    row-gap: 8px;
  }
}

.card {
  display: flex;
  flex-direction: column;

  width: 100%;
  max-width: 253px;
  min-height: 126px;

  padding-top: 20px;
  padding-bottom: 27px;
  padding-inline: 23px;

  border: 1px solid hsla(0, 0%, 100%, 0.2);

  @media screen and (max-width: 1280px) {
    max-width: 164px;
    min-height: unset;

    padding-top: 15px;
    padding-bottom: 18px;
    padding-inline: 15px;
  }

  @media screen and (max-width: 740px) {
    max-width: unset;

    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding-block: 11px;
    padding-inline: 24px;
  }
}

.category {
  font-family: "Spartan";
  font-style: normal;
  font-weight: 700;
  font-size: 11px;
  line-height: 25px;

  letter-spacing: 1px;
  text-transform: uppercase;

  color: var(--clr-white);

  opacity: 0.5;

  @media screen and (max-width: 1280px) {
    margin-bottom: 6px;

    font-size: 8px;
    line-height: 16px;

    letter-spacing: 0.727273px;
  }

  @media screen and (max-width: 740px) {
    margin-bottom: 0;

    font-size: 8px;
    line-height: 16px;
  }
}

.content {
  font-family: "Antonio";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;

  letter-spacing: -1.5px;
  text-transform: uppercase;

  color: var(--clr-white);

  @media screen and (max-width: 1280px) {
    font-size: 24px;
    line-height: 31px;

    letter-spacing: -0.9px;
  }

  @media screen and (max-width: 740px) {
    font-size: 20px;
    line-height: 26px;

    letter-spacing: -0.75px;
  }
}
